<?xml version="1.0" encoding="utf-8" ?>

<Application name="myBeazley">
  <Page name="MyBeazleyLoginPage" individual="true" type="Beazley.Pages.MyBeazleyLoginPage, Beazley.Pages">
    <Elements>
      <Element name="LinkLogoBeazley" by="Id" value="logo" />
      <Element name="PrivacyLinks" by="Id" value="RB_PrivacyLinks" />
      <Element name="TC_PrivacyLinks" by="XPath" value="//*[@id='RB_PrivacyLinks']/a[1]" />
      <Element name="PC_PrivacyLinks" by="XPath" value="//*[@id='RB_PrivacyLinks']/a[2]" />
      <Element name="HeaderLogo" by="Id" value="headerlogo" />
      <Element name="BeazleyRightImage" by="Id" value="RB_HeaderRight" />
      <Element name="TitleLabelLogin" by="Id" value="logintitle" />
      <Element name="BtnSignIn" by="Id" value="loginbutton" />
      <Element name="UsernameField" by="Id" value="UserName" />
      <Element name="UsernameLabel" by="ClassName" value="loginlabel" />
      <Element name="PasswordField" by="Id" value="Password" />
      <Element name="PasswordLabel" by="XPath" value="//*[@id='loginbox']/form[1]/div[2]" />
      <Element name="ForgottenPassword" by="ClassName" value="forgottenpassword" />
      <Element name="LanguageLocator" by="XPath" value="//*[@id='RB_selLanguage-button']/span[2]" />
      <Element name="ErrorLoginMessage" by="ClassName" value="validation-summary-errors" />
      <Element name="EmptyUsernameError" by="ClassName" value="field-validation-error" />
    </Elements>
  </Page>
  <Page name="MyBeazleyHomePage" individual="true" type="Beazley.Pages.MyBeazleyHomePage, Beazley.Pages">
    <Elements>
      <Element name="logoff" by="Id" value="headerlogoff" />      
    </Elements>
  </Page>
</Application>