<beazley>
  <website>
    <entryPoints>
      <entryPoint typeName="MyBeazleyLoginPage" url="https://beazleyrulebookuat.azurewebsites.net"></entryPoint>
      <entryPoint typeName="MyBeazleyHomePage" url="https://beazleyrulebookuat.azurewebsites.net/Home"></entryPoint>
    </entryPoints>
  </website>
</beazley>